@import "../global.scss";

.homepage{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;

   
   

}

.home-container{
    max-width: 1100px;
    width: calc(100% - 164px);
    border: 1px solid #d6d9dc;
    padding: 24px;
    box-sizing: border-box;

    @include mobile{
        width: 100%;
    }

}