#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  
 
  
}

.home-container-1 {
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.home-container-2 {
  max-width: 1100px;
  width: calc(100% - 164px);
  padding: 24px;
  box-sizing: border-box;
}
.homepage{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;

}

.home-container{
  max-width: 1100px;
  width: calc(100% - 164px);
  border: 1px solid #d6d9dc;
  padding: 24px;
  box-sizing: border-box;
}


